body {
    background-image: url('../Utils/Images/Imagem2.jpg');
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#rodape footer{
    padding-top: 31em;
    padding-bottom: 0px;
    margin: 0;
}

#rodape footer p{
    text-align: center;
    margin: 0
}

#rodape footer hr {
    text-align: center;
}