
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}


<div class="item active">
    <img src="~/Utils/Images/Imagem2.jpg" alt="ASP.NET" class="img-responsive" align="middle" />
</div>