<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>


  <connectionStrings>
    <add name="localConnectionString" connectionString="Data Source=DESKTOP-U7S84HG\SQLEXPRESS;Initial Catalog=DB_PREFEITURA_CONECTA;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="azureConnectionString" connectionString="Server=tcp:prefeitura-conecta.database.windows.net,1433;Initial Catalog=DB_PREFEITURA_CONECTA;User ID=prefeitura_conecta_sa;Password=Sa20190101;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
</configuration>