@model IEnumerable<PrefeituraConecta.MVC.UI.Models.Declaracoes.DECLARACOES_INCIDENCIA_ISSQN_MODEL>

@{
    ViewBag.Title = "Empresas - Incidência em ISSQN";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid objWebGrid = new WebGrid(Model, rowsPerPage: 10, canPage: true);//allowing rowsperpage,paging allow or not
}

<br />
<br />
<br />

<div class="container">

    <h3>Empresas - Incidência em ISSQN</h3>
    <br />


    @objWebGrid.GetHtml(

    tableStyle: "table table-striped table-bordered table-sm",
    headerStyle:"Grid-Header",
    alternatingRowStyle:"Grid-alt",
    selectedRowStyle:"Grid-selected",
    rowStyle: "Grid-rowstyle",
    footerStyle: "Grid-Footer",
    mode: WebGridPagerModes.All,
    columns:
    objWebGrid.Columns
    (
       objWebGrid.Column(columnName: "CNPJMATRIZ", header: "CNPJ (Matriz)"),
       objWebGrid.Column(columnName: "NOME", header: "Razão Social"),
       objWebGrid.Column(columnName: "RPA", header: "Receita Total"),
       objWebGrid.Column(columnName: "SEM_RETENCAO", header: "S.Retençao"),
       objWebGrid.Column(columnName: "COM_RETENCAO", header: "C.Retençao"),
       objWebGrid.Column(columnName: "OUTROS_M", header: "Outros.M"),
       objWebGrid.Column(columnName: "CONTABILIDADE", header: "Contabilidade"),
       objWebGrid.Column(columnName: "LOCACAO", header: "Locação"),
       objWebGrid.Column(columnName: "EXTERIOR", header: "Exterior")
       )
    )
</div>

<div class="row">
    <a href="@Url.Action("Index", "Declaracoes")" class="elements">
        <div class="form-group">
            <div class="col-xs-offset-2 col-md-10">

                <input type="button" value="Voltar" class="btn btn-default" />
            </div>
        </div>
    </a>
</div>


